/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2016, 8:38:24 PM
    Author     : Rich
*/

.menu-item:focused {
    -fx-background-color: #A32202;
}
.root {
    -fx-accent: #A32202;
    -fx-focus-color: #A32202;
    -fx-background-color: #F2F2F2;
}
.table-column {
    -fx-alignment: CENTER;
    -fx-border-color: transparent #999999 #999999 transparent;
    -fx-border-width: 0.5px;
}
.text-field-table-cell .text-field {
    -fx-alignment: CENTER;
}
.table-view .column-header {
    -fx-background-color: #F2F2F2;
}
.tab {
    -fx-background-radius: 0;
}
.text-field {
    -fx-background-radius: 0;
}
#rowNumbers {
    -fx-font-weight: bold;
}
.button {
    -fx-background-radius: 0;
}
.text-area {
    -fx-border-color: #0C0C0C;
}
.menu-bar {
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent transparent #0C0C0C transparent;
}
#AnchorPane {
    -fx-background-color: #F2F2F2
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #F2F2F2;
}
.drag {
    -fx-border-color: #A32202 transparent transparent transparent;
    -fx-border-width: 2px 0px 0px 0px;
}
.undefinedText {
    -fx-background-color: #A32202;
}
.default-color0.chart-series-line { 
    -fx-stroke: #A32202; 
}

.split-pane > .split-pane-divider {  
    -fx-background-color: #999999;
    -fx-padding: 0 0.05em 0 0.05em;  
} 